<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Payment Methods:</h2>
    <ul>
        {% for payment_method in payment_methods %}
        <li>
            **** **** **** {{ payment_method.last4 }} ({{ payment_method.exp_month }}/{{ payment_method.exp_year }})
        </li>
        {% empty %}
        <li>No payment methods saved.</li>
        {% endfor %}
    </ul>
</body>
</html>